/* Style sheet for Init Page*/

#log_and_reg_frame {
    background-color: rgba(250, 250, 210, 0.8);
    border-radius: 15px;
    border-top: 2px outset tan;
    border-bottom: 2px outset chocolate;
    width: 55%;
    height: 55%;
    position: relative;
     top: 15%;
     left: 22.5%;
    padding: 1% 2% 2% 2%;
}

#log_and_reg_frame img {
    width: 25%;/*Cal modificar la imatge per no haver d'escalar i reduir temps de transferencia de la imatge*/
}

/*
    LOGIN CSS
*/
#login_div #login_img {
    margin-bottom: 3%;
}

#login_div #login_user_holder {
    margin: 0% 0% 2% 15%;
}

#login_div #login_user_img {
    vertical-align: middle;
}

#login_div #login_user {
    width: 45%;
    padding: 1% 1% 1% 2%;
    margin-left: 5%;
    border-radius: 10px;
    vertical-align: middle;
}

#login_div #login_pass_holder {
    margin: 0% 0% 2% 15%;
}

#login_div #login_pass_img {
    vertical-align: middle;
}

#login_div #login_pass {
    width: 45%;
    padding: 1% 1% 1% 2%;
    margin-left: 5%;
    border-radius: 10px;
    vertical-align: middle;
}

#login_div #login_buttons_holder {
    margin: 3% 0% 0% 35%;
    width: 60%;
}

#login_div #button_login {
    width: 35%;
    border-radius: 10px;
    padding: 3%;
    margin-left: 10%;
}

#login_div #button_register {
    width: 35%;
    border-radius: 10px;
    padding: 3%;
    margin-left: 2%;
}

/*
    REGISTER CSS
*/
#register_div #register_img {
    width: 32%;
    margin-bottom: 3%;
}

#register_div #register_username_holder {
    margin: 0% 0% 1% 15%;
}

#register_div #register_user_img {
    vertical-align: middle;
}

#register_div #reg_user_input {
    width: 45%;
    padding: 0.5% 1% 0.5% 2%;
    margin-left: 5%;
    border-radius: 10px;
    vertical-align: middle;
}

#register_div #register_pass_holder {
    margin: 0% 0% 1% 15%;
}

#register_div #register_pass_img {
   vertical-align: middle;
}

#register_div #reg_pass_input {
    width: 45%;
    padding: 0.5% 1% 0.5% 2%;
    margin-left: 5%;
    border-radius: 10px;
    vertical-align: middle;
}

#register_div #register_repeat_pass_holder {
    margin: 0% 0% 1% 15%;
}

#register_div #register_repeat_pass_img {
    vertical-align: middle;
}

#register_div #reg_pass_confirm_input {
    width: 45%;
    padding: 0.5% 1% 0.5% 2%;
    margin-left: 5%;
    border-radius: 10px;
    vertical-align: middle;
}

#register_div #register_email_holder {
    margin: 0% 0% 1% 15%;
}

#register_div #register_email_img {
    vertical-align: middle;
}

#register_div #reg_email_input {
    width: 45%;
    padding: 0.5% 1% 0.5% 2%;
    margin-left: 5%;
    border-radius: 10px;
    vertical-align: middle;
}

#register_div #register_buttons_holder {
    margin: 3% 0% 0% 35%;
    width: 60%;
}

#register_div #button_register_submit {
    width: 35%;
    border-radius: 10px;
    padding: 3%;
    margin-left: 10%;
}

#register_div #button_register_cancel {
    width: 35%;
    border-radius: 10px;
    padding: 3%;
    margin-left: 2%;
}