/* Style sheet for Main Page*/

/*
    GAME MANAGEMENT CSS
*/
#Game_management_div {
    border-top: 2px outset tan;
    border-bottom: 2px outset chocolate;
    background-color: rgba(250, 250, 210, 0.8);
    border-radius: 15px;
    width: 65%;
    height: 96%;
    margin: -4% 0 0 2%;
    padding: 1% 1% 1% 1%;
    float: left;
}

#Game_management_div #Game_rooms_label {
    margin: -4% 0% -2% -2%;
    float: left;
}

#Game_management_div #button_own_games {
    float: left;
    padding: 0.75%;
    border-radius: 10px;
}

#Game_management_div #button_public_games {
    float: left;
    padding: 0.75%;
    border-radius: 10px;
    margin-left: 1%;
}

#Game_management_div #button_new_game {
    float: right;
    padding: 0.75%;
    margin-right: 1%;
    border-radius: 10px;
}

#Game_management_div #my_games_list {
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url(../images/game_list_background.png);
    background-repeat: no-repeat;
    background-position: 75% 0%;
    background-size: 40% 100%;
    border-radius: 10px;
    margin-top: 3%;
    padding-top: 1%;
    height: 80%;
    max-height: 80%;
    overflow-y: auto;
    width: 99%;
    max-width: 99%;
}

#Game_management_div #public_games_list {
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url(../images/game_list_background.png);
    background-repeat: no-repeat;
    background-position: 75% 0%;
    background-size: 40% 100%;
    border-radius: 10px;
    margin-top: 3%;
    padding-top: 1%;
    height: 80%;
    max-height: 80%;
    overflow-y: auto;
    width: 99%;
    max-width: 99%;
}

#Game_management_div #public_games_list p {
    margin: 0% 0% 1% 2%;
    border: 2px inset blanchedalmond;
    border-radius: 7px;
    width: 96%;
    height: 8%;
    color: whitesmoke;
}

#Game_management_div #public_games_list p:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.8);
}

#Game_management_div #public_games_list p:nth-child(odd) {
    background-color: rgba(40, 40, 40, 0.8);
}

#Game_management_div #my_games_list p {
    margin: 0% 0% 1% 2%;
    border: 2px inset blanchedalmond;
    border-radius: 7px;
    width: 96%;
    height: 8%;
    color: whitesmoke;
}

#Game_management_div #my_games_list p:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.8);
}

#Game_management_div #my_games_list p:nth-child(odd) {
    background-color: rgba(40, 40, 40, 0.8);
}

.game_list_name {
    position: relative;
     left: 2%;
    float: left;
    width: 60%;
    margin-top: 0.9%;
}

.game_list_ocupation {
    position: relative;
     left: 24%;
    float: left;
    width: 6%;
    margin-top: 0.9%;
}

.game_list_secure {
    position: relative;
    left: 22%;
    float: left;
    margin-top: 0.9%;
}

.game_list_no_secure {
    position: relative;
    left: 22%;
    float: left;
    width: 16px;
    height: 16px;
}

.enter_game_button {
    position: relative;
     left: 23%;
    margin-top: 0.7%;
}

.continue_game_button {
    position: relative;
     left: 22%;
    margin-top: 0.7%;
}

.no_games_msg {
    width: 30%;
    position: relative;
     top: 45%;
     left: 40%;
}

/* NEW GAME */
#Game_management_div #new_game_info {
    border: 2px inset blanchedalmond;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 1% 0% 1% 2%;
    width: 50%;
    height: 43%;
    position: relative;
    left: 25%;
    top: 29%;
}

#Game_management_div #new_game_img {
    margin: -17% 0% 0% -4%;
    width: 40%;
}

#Game_management_div .new_game_element{
    margin-top: -5%;
}

#Game_management_div #game_name_img {
    vertical-align: middle;
    width: 46%;
}

#Game_management_div #game_name_input {
    width: 45%;
    border-radius: 10px;
    padding-left: 2%;
}

#Game_management_div .error_new_game_validation {
    color: red;
}

#Game_management_div #game_pass_img {
    vertical-align: middle;
    width: 46%;
}

#Game_management_div #game_pass_input {
    width: 45%;
    border-radius: 10px;
    padding-left: 2%;
}

#Game_management_div #game_players_number_img {
    vertical-align: middle;
    width: 46%;
}

#Game_management_div #game_players_number_input {
    text-align: center;
    border-radius: 5px;
}

#Game_management_div #new_game_buttons {
    float: right;
    margin-right: 1%;
    width: 50%;
}

#Game_management_div #button_game_submit {
    /*margin-left: 55%;*/
    padding: 2% 4%;
    border-radius: 10px;
}

#Game_management_div #button_game_cancel {
    margin-left: 3%;
    padding: 2% 4%;
    border-radius: 10px;
}

/*
    FRIENDS CSS
*/
#Friend_management_div {
    border-top: 2px outset tan;
    border-bottom: 2px outset chocolate;
    background-color: rgba(250, 250, 210, 0.8);
    border-radius: 15px;
    width: 20%;
    height: 80%;
    margin: 2% 0 0 3%;
    padding: 1% 1% 1% 2%;
    float: left;
}

#Friends_label {
    width: 40%;
    margin-bottom: 3%;
}

#Friend_management_div #friend_username {
    width: 45%;
    padding-left: 2%;
    border-radius: 10px;
}

#Friend_management_div #button_add_friend {
    border-radius: 8px;
    float: right;
}

#Friend_management_div #friends_list {
    margin-top: 4%;
    padding: 4% 4% 4% 7%;
    background-color: rgba(255, 255, 255, 0.6);
    width: 85%;
    height: 72%;
    max-height: 72%;
    overflow-y: auto;
    border-radius: 10px;
    border: 1px solid white;
}

#Friend_management_div .friend_item {
    margin-bottom: 2%;
    padding-left: 4%;
}

#Friend_management_div .friend_item:hover {
    border: 2px inset #E9DC51;
    border-radius: 10px;
    background-color: rgba(239, 228, 176, 0.8);
}

#Friend_management_div .friend_name {
    float: left;
    width: 75%;
    padding-top: 1%;
}

/*
    HEADER BUTTONS CSS
*/
#header_buttons_div{
    width: 100%;
}

#header_buttons_positioning_div {
    border-top: 2px outset tan;
    border-bottom: 2px outset chocolate;
    width: 20.2%;
    position: relative;
     left: 72%;
    border-radius: 15px;
    background-color: rgba(250, 250, 210, 0.5);
    padding: 0.4% 1% 0.2% 2%;
}

#header_buttons_div #requests_list {
    border-left: 2px outset lightgrey;
    border-right: 2px outset darkgrey;
    border-bottom: 2px outset grey;
    border-radius: 5px;
    background-color: whitesmoke;
    width: 17.5%;
    max-height: 60%;
    overflow-y: auto;
    position: absolute;
     left: 70.5%;
    padding: 0% 1% 0% 1%;
}

#header_buttons_div .request_item {
    margin-top: 3%;
    padding-bottom: 2.5%;
    border-bottom: 1px solid grey;
}

#header_buttons_div .request_item:last-child {
    border-bottom: none;
}

#header_buttons_div .request_name {
    float: left;
    width: 60%;
}

#header_buttons_div .button_accept_request {
    color: lawngreen;
    font-weight: bolder;
}

#header_buttons_div .button_reject_request {
    color: darkred;
    font-weight: bolder;
}


#header_buttons_div #button_logout {
    background-image: url(../images/power.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-top: -3%;
}

#header_buttons_div #header_username_holder {
    display: inline-block;
    width: 40%;
}

#header_buttons_div #button_request {
    background-image: url(../images/none_requests.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    border: none;
    width: 50px;
    height: 40px;
    vertical-align: middle;
}

/*
    ACCESS SECURE GAME
*/
#access_secure_games_div {
    border-top: 2px outset tan;
    border-bottom: 2px outset chocolate;
    background-color: rgba(250, 250, 210, 0.8);
    border-radius: 15px;
    width: 65%;
    height: 96%;
    margin: -4% 0 0 2%;
    padding: 1% 1% 1% 1%;
    float: left;
}

#access_secure_games_div #access_secure_games_holder {
    width: 58%;
    height: 48%;
    position: relative;
     top: 20%;
     left: 19%;
   padding: 2%;
   border: 2px inset blanchedalmond;
   border-radius: 15px;
   background-color: rgba(0, 0, 0, 0.8);
}

#access_secure_games_div #enter_game_password {
    width: 80%;
    position: relative;
     top: -7%;
     left: -5%;

}

#access_secure_games_div #password_game_access_input {
    margin: 0% 0% 10% 14%;
    width: 69%;
    padding: 2%;
    border-radius: 20px;
    border: 1px inset grey;
    text-align: center;
}

#access_secure_games_div #button_password_game_access_submit {
    margin-left: 40%;
    padding: 2% 5% 2% 5%;
    border-radius: 15px;
}

#access_secure_games_div #button_password_game_access_cancel {
    margin-left: 5%;
    padding: 2% 5% 2% 5%;
    border-radius: 15px;
}