html {
    height: 100%;
    min-height: 100%;
}

body {
    /*padding: 50px;*/
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url(../images/Background3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 87%;
}

a {
    color: #00B7FF;
}

.error_register_validation .error_new_game_validation{
    font-size: 75%;
    color: red;
}

.kineticjs-content {
    //background: url(../images/background.png);
}

#header_buttons {
    height: 7%;
    border: 3px solid black;
}

#init_page {
    height: 88%;
    margin-top: 5%;
    border: 3px solid black;
}

#main_page {
    height: 80%;
    margin-top: 5%;
    border: 3px solid black;
}
