html {
    height: 100%;
    min-height: 100%;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url(../images/background2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0%;
    height: 99%;
}

a {
    color: #00B7FF;
}

.error_register_validation .error_new_game_validation{
    font-size: 75%;
    color: red;
}

.kineticjs-content {
    //background: url(../images/background.png);
}

#Project_image {
    width: 25%;
    position: relative;
     left: 37.5%;
    display: block;
}

#init_page {
    height: 70%;
    padding: 1% 5% 4% 5%;
}

#main_page {
    height: 70%;
    padding: 1% 5% 4% 5%;
}

#room_page {
    height: 60%;
    padding: 1% 5% 4% 5%;
    float: left;
    width: 45%;
    margin-left: 7%;
    background-color: rgba(250, 250, 210, 0.6);
    border-radius: 15px;
    border-top: 2px outset tan;
    border-bottom: 2px outset chocolate;
}

.chat_room {
    float: right;
    width: 25%;
    height: 60%;
    margin-right: 6%;
    padding: 1% 2% 4% 2%;
    background-color: rgba(250, 250, 210, 0.6);
    border-radius: 15px;
    border-top: 2px outset tan;
    border-bottom: 2px outset chocolate;
}

.chat_game {
    /*float: right;
    width: 25%;
    height: 60%;
    margin-right: 6%;*/
    padding: 1% 2% 4% 2%;
    background-color: rgba(250, 250, 210, 0.6);
    border-radius: 15px;
    border-top: 2px outset tan;
    border-bottom: 2px outset chocolate;
}